# Variables and Strings

In [8]:
#Hello World
print("Hello World")

#Hello world with a variable
msg = "Hello World!"
print(msg)

Hello World
Hello World!

In [7]:
#Concatenation (combining strings)
first_name = "Reetam"
last_name = "Dutta"
full_name = first_name + ' ' + last_name
print(full_name)

Reetam Dutta

# List

In [9]:
list1 = ['apples','mango','jelly fish',4589,55]
print(list1)

['apples', 'mango', 'jelly fish', 4589, 55]

In [10]:
#get position of items in a list
print(list1[3])

4589

In [11]:
#get last item of list
print(list1[-1])

55

In [12]:
#loop through a list
for a in list1:
    print(a)

apples
mango
jelly fish
4589
55

In [13]:
#add iems in a list
list1.append('cherry') #append takes only one argument
list1.append('79B')
list1.append('Kolkata')
print(list1)

['apples', 'mango', 'jelly fish', 4589, 55, 'cherry', '79B', 'Kolkata']

In [15]:
#numerical lists
squares=[]
for x in range(1,21):
    squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [16]:
#above program in a single line
squares=[x**2 for x in range(1,21)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [17]:
#list slicing
sample_list = ['apple','banana','cherry','dragonfruit']
first_two = sample_list[:2]
print(first_two)

['apple', 'banana']

In [18]:
list2 = list1[:]
print(list2)

['apples', 'mango', 'jelly fish', 4589, 55, 'cherry', '79B', 'Kolkata']

# Tuples

In [19]:
tuple1 = ('Apple','Rs.50/kg')
print(tuple1)

('Apple', 'Rs.50/kg')

# If Statement

In [20]:
# equals          x==30
# not equal       x!=22
# greater then    x>50
#   or equal to   x>=50
# less than       x<90
#   or equal to   x<=90

In [21]:
#simple test
age = 17
if age>= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Not eligible to vote

In [24]:
#elif
age = 13
if age < 4:
    ticket_price = 0
elif age <18:
    ticket_price = 10
else:
    ticket_price = 15

SyntaxError: invalid syntax (<ipython-input-24-41e4ee1b87aa>, line 4)

# Dictionaries

In [25]:
#simple dictionary
film = {'Titanic': 'Blockbuster', 'Year':1989}
print(film)

{'Titanic': 'Blockbuster', 'Year': 1989}

In [26]:
#accessing a value
print(film['Titanic'])

Blockbuster

In [27]:
#adding new value at position
film['Best film']=0
print(film)

{'Titanic': 'Blockbuster', 'Year': 1989, 'Best film': 0}

# User Input

In [28]:
name = input("What is your name?")
print("Hi, " + name)

What is your name?Reetam
Hi, Reetam

In [31]:
#integer input
num = int(input("Enter any integer: "))
print("The square of the integer is " , (num**2))

Enter any integer: -5
The square of the integer is  25

In [32]:
#float input
num = float(input("Enter any integer: "))
print("The square of the integer is " , (num**2))

Enter any integer: -56.412
The square of the integer is  3182.313744